body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow-y: hidden;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #282c34;
  opacity: 3; /* Firefox */
  text-align: center
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer {
  height: 40px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  text-align: center;
}

.Complete{
  width: 30px;
  height: 15px;
  background-color: #4CAF50;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  /* opacity: 0.8; */
}

.Complete:hover {
  width: 50px;
  /* opacity: 1; */
}

.Delete{
  width: 30px;
  height: 15px;
  background-color: #F44336;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  /* opacity: 0.8; */
}

.Delete:hover {
  width: 50px;
  /* opacity: 1; */
}